/* General Styling */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f8f8f8;
}

h2 {
    color:  #003366;
    text-align: center;
    margin-bottom: 10px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* Hero Section */
.hero {
    background-image: url('/Pics/hero.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
    height: 200px;
}

.hero .overlay h1 {
    font-size: 3em;
    margin-bottom: 10px;
    animation: fadeIn 2s;
}

.hero .overlay p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

/* Sections */
section {
    background: white;
    margin: 20px 0;
    padding: 40px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Why Choose Us */
.why-choose ul {
    list-style: none;
    text-align: center;
}

.why-choose li {
    font-size: 18px;
    margin: 10px 0;
}

/* Team Section */
.team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.member {
    text-align: center;
}

.member img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #2E8B57;
}

.member h3 {
    margin-top: 10px;
}

/* Contact Section */
.contact {
    background-color: #003366;
    color: white;
    text-align: center;
}

.contact p {
    margin: 5px 0;
}

/* animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}